<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23G93</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Corona</string>
	<key>CFBundleExecutable</key>
	<string>Corona</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.adjust.examples</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Corona</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2024.11.131120</string>
	<key>CoronaDelegates</key>
	<array/>
	<key>CoronaSDKBuild</key>
	<string>3710</string>
	<key>CoronaViewSupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>22A3362</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>18.0</string>
	<key>DTSDKBuild</key>
	<string>22A3362</string>
	<key>DTSDKName</key>
	<string>iphoneos18.0</string>
	<key>DTXcode</key>
	<string>1600</string>
	<key>DTXcodeBuild</key>
	<string>16A242d</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Set Apple Music description in build settings</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Set Bluetooth Peripheral description in build settings</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Set Calendars Peripheral description in build settings</string>
	<key>NSCameraUsageDescription</key>
	<string>Set Camera Usage Description in build settings</string>
	<key>NSContactsUsageDescription</key>
	<string>Set Contacts Usage Description in build settings</string>
	<key>NSHomeKitUsageDescription</key>
	<string>Set Home Kit Usage Description in build settings</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Set Location Always Usage Description in build settings</string>
	<key>NSLocationUsageDescription</key>
	<string>Set Location Usage Description in build settings</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Set Location When In Use Usage description in build settings</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Set Microphone Recognition Usage description in build settings</string>
	<key>NSMotionUsageDescription</key>
	<string>Set Motion Usage description in build settings</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Set Photo Library Add Usage description in build settings</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Set Photo Usage description in build settings</string>
	<key>NSRemindersUsageDescription</key>
	<string>Set Reminders Usage description in build settings</string>
	<key>NSSiriUsageDescription</key>
	<string>Set Siri Usage description in build settings</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Set Speech Recognition Usage description in build settings</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This would allow the app to advertise better.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
